name: Update EPG
on:
  schedule:
    - cron: '0 2 * * *' # 2 AM UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install
        run: pip install requests pyyaml deep-translator
      - name: Run
        run: python merge_epg.py
      - name: Commit
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add merged_epg.xml merged_epg.xml.gz epg_cache.json
          git commit -m "Daily EPG Update" || exit 0
          git push
