name: Update Indian EPG

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install -r requirements.txt
      - run: python main.py
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "EPG Update: $(date)"
          file_pattern: 'merged_epg.xml epg_cache.json'
